{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}

        <h2>Tweet Detail:</h2>
        <div class="pb-3">
            <div class="">
                <h4 class="text-dark"> {{ doc.title }} ... </h4>
                <span class="text-dark"> id: {{ doc.id }} — {{ doc.doc_date }}</span>
                <h6>{{ doc.description }}</h6>
            </div>
        </div>
    <div><a href="#" onclick="history.go(-1)">Go Back</a></div>
    <div><a href="#" onclick="history.go(-2)">Go Back 2 pages</a></div>
    <div><a href="#" onclick="history.go(-3)">Go Back 3 pages</a></div>
    <div><a href="#" onclick="history.go(-4)">Go Back 4 pages</a></div>
    <div><a href="/stats" >Stats</a></div>
    <div><a href="/dashboard" >Dashboard</a></div>

{% endblock %}
